header {
 min-height: 30rem;
 height: auto;
 margin: 0 auto;
 text-align: center;
 padding-top: 12rem;
 padding-left: 15%;
 /*padding-right: 30%;*/
 margin: 0 auto;
 padding-bottom: 6rem;
 background-image: url('../Components/img/bkimg.jpg');
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}

header h1 {
  margin: 0;
  font-size: 3.5rem;
  color: rgb(33, 37, 41);
}

header h4 {
  font-size: 1.75rem;
  color: rgb(33, 37, 41);
  font-weight: 700;
  padding-bottom: 2%;
}

header a {
  padding-top: 2%;
  font-weight: 700;
  background-color: #1d809f;
  color: #fff;
  padding: 1.25rem 2.5rem;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  display: inline-block;
}

@media screen and (max-width: 500px) {
  header {
    width: 100vw;
    /*padding-top: 5rem;*/
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  header h1 {
  font-size: 3rem;
  padding-top: 4%;
  padding-right: 2%;
  padding-left: 2%;
  }
}

@media screen and (max-width: 500px) {
  header h4 {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  header a {
    padding: 1.25rem 2.5rem;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 2%;
  }
}
