header {
 min-height: 30rem;
 height: auto;
 margin: 0 auto;
 text-align: center;
 padding-top: 8rem;
 padding-left: 30%;
 padding-bottom: 6rem;
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}

header h1 {
  margin: 0;
  font-size: 3.5rem;
  color: rgb(33, 37, 41);
}

header h4 {
  font-size: 1.75rem;
  color: rgb(33, 37, 41);
  font-weight: 700;
  padding-bottom: 2%;
}

header a {
  padding-top: 2%;
  font-weight: 700;
  background-color: #1d809f;
  color: #fff;
  padding: 1.25rem 2.5rem;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  display: inline-block;
}



/*header {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}*/



