/*nav {
  display: flex;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  justify-content: space-between;
  background-color: #1d809f;
  align-items: right;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  height: 5rem;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 0.25rem;
  text-decoration: none;
  position: center;
  display: flex;
  margin-top: 4%;
}

nav ul {
  list-style: none;
  text-align: center;
  padding-top: 3%;
}

nav ul li {
  display: inline-block;
  margin-right: 0.25rem;
  font-size: 1rem;

}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding-top: 2%;
}

nav ul li a:hover {
  color: rgb(33, 37, 41);
}*/

.navbar {
  /*osition: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);*/
  z-index: 1;
  display: flex;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  justify-content: space-between;
  background-color: #1d809f;
  align-items: right;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  height: 5rem;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;

}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 0.25rem;
  text-decoration: none;
  position: left;
  display: flex;
  margin-top: 4%;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  display: inline-block;
  margin-right: 0.25rem;
  font-size: 1rem;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

