nav {
  display: flex;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  justify-content: space-between;
  background-color: #1d809f;
  align-items: right;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  height: 5rem;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 0.25rem;
  text-decoration: none;
  position: center;
  display: flex;
  margin-top: 4%;
}

nav ul {
  list-style: none;
  text-align: center;
  padding-top: 3%;
}

nav ul li {
  display: inline-block;
  margin-right: 0.25rem;
  font-size: 1rem;

}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding-top: 2%;
}

nav ul li a:hover {
  color: rgb(33, 37, 41);
}

